<!--  app/views/movies/show.html.erb -->
<h2>Details about <em><%= @representative.name %></em></h2>

<ul id="details">
  <li>
    Office:
    
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @representative.party %>
  <%= @representative.street %>
</p>

